@using Domains.Enums
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model AddUserResponse;
<!-- [Favicon] icon -->
<link rel="icon" href="../assets/images/favicon.svg" type="image/x-icon" />
<!-- [Font] Family -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet" />
<!-- [phosphor Icons] https://phosphoricons.com/ -->
<link rel="stylesheet" href="../assets/fonts/phosphor/duotone/style.css" />
<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="../assets/fonts/tabler-icons.min.css" />
<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="../assets/fonts/feather.css" />
<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="../assets/fonts/fontawesome.css" />
<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="../assets/fonts/material.css" />
<!-- [Template CSS Files] -->
<link rel="stylesheet" href="../assets/css/style.css" id="main-style-link" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<!-- [ Pre-loader ] start -->
<div class="loader-bg fixed inset-0 bg-white dark:bg-themedark-cardbg z-[1034]">
    <div class="loader-track h-[5px] w-full inline-block absolute overflow-hidden top-0">
        <div class="loader-fill w-[300px] h-[5px] bg-primary-500 absolute top-0 left-0 animate-[hitZak_0.6s_ease-in-out_infinite_alternate]"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<div class="auth-main relative">
    <div class="auth-wrapper v1 flex items-center w-full h-full min-h-screen">
        <div class="auth-form flex items-center justify-center grow flex-col min-h-screen relative p-6 ">
            <div class="w-full max-w-[350px] relative">
                <div class="auth-bg ">
                    <span class="absolute top-[-100px] right-[-100px] w-[300px] h-[300px] block rounded-full bg-theme-bg-1 animate-[floating_7s_infinite]"></span>
                    <span class="absolute top-[150px] right-[-150px] w-5 h-5 block rounded-full bg-primary-500 animate-[floating_9s_infinite]"></span>
                    <span class="absolute left-[-150px] bottom-[150px] w-5 h-5 block rounded-full bg-theme-bg-1 animate-[floating_7s_infinite]"></span>
                    <span class="absolute left-[-100px] bottom-[-100px] w-[300px] h-[300px] block rounded-full bg-theme-bg-2 animate-[floating_9s_infinite]"></span>
                </div>
                <div class="card sm:my-12  w-full shadow-none">
                    <div class="card-body !p-10">
                        <div class="text-center mb-8">
                            <a href="#"><img src="../assets/images/logo-dark.svg" alt="img" class="mx-auto auth-logo" /></a>
                        </div>
                        <h4 class="text-center font-medium mb-4">Login</h4>
                        @switch (Model.Status)
                        {
                            case OpStatus.Success:
                                <div class="alert alert-success" role="alert">
                                    @Model.Message;
                                </div>
                                break;
                            case OpStatus.Error:
                                <div class="alert alert-danger" role="alert">
                                    @Model.Message;
                                </div>
                                break;
                            case OpStatus.Warning:
                                <div class="alert alert-warning" role="alert">
                                    @Model.Message;
                                </div>
                                break;
                        }
                        <form asp-action="Login" asp-controller="Auth" method="post">
                        <div class="mb-3">
                            <label for="EmailAddress" class="form-label">Email Address</label>
                            <input type="email" required class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Enter you Email Address">
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" required class="form-control" id="Password" name="Password" placeholder="Enter password">
                        </div>
                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-primary mx-auto shadow-2xl">Login</button>
                        </div>
                        </form>
                        <div class="flex justify-between items-end flex-wrap mt-4">
                            <h6 class="font-medium mb-0">Don't have an Account?</h6>
                            <a asp-controller="Auth" asp-action="Auth" class="text-primary-500">Create Account</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<!-- Required Js -->
<script src="../assets/js/plugins/simplebar.min.js"></script>
<script src="../assets/js/plugins/popper.min.js"></script>
<script src="../assets/js/icon/custom-icon.js"></script>
<script src="../assets/js/plugins/feather.min.js"></script>
<script src="../assets/js/component.js"></script>
<script src="../assets/js/theme.js"></script>
<script src="../assets/js/script.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<div class="floting-button fixed bottom-[50px] right-[30px] z-[1030]">
</div>